/* styles/globals.css */
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: 'Zain', sans-serif;
}

@theme {
  --breakpoint-3xl: 120rem; /* 1920px */
  --breakpoint-4xl: 160rem; /* 2560px */
  --breakpoint-5xl: 240rem; /* 3840px */
}

@layer utilities {
  .theme-transition {
    @apply transition-colors duration-500 ease-in-out;
  }
}
